version: "3.9"

services:
  db:
    image: postgres:16
    container_name: todo-postgres
    restart: always
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_password
      POSTGRES_DB: todo_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - todo-network
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: todo-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db
    networks:
      - todo-network

volumes:
  postgres_data:

networks:
  todo-network: